@charset "UTF-8";

#container {
	width: 100%;
}
#navigation {
	width: 200px;
	margin: 5px;
	float: left;
}
#content-container{
	overflow: auto;
	margin-top: 12px;
	right: 5px;
	left: 215px;
	padding-right: 12px; 
}

@media (max-width:799px){
	#container {
		min-width: 600px !important;
	}
	#navigation {
		float: none !important;
	}
	#content-container{
		overflow: visible !important;
		margin-left: 5px !important;
		left: auto !important;
		right: auto !important;
	}
}

*{	
	padding: 0;
	margin: 0;
	color: #030E8F;
}

body {
	background-color: #FAFAD2;
}

#header {
	height: 65px;
	background: #0000ff;
	margin: 5px;
}

#header *{
	margin: 0;
	padding: 0;
	
	color: #ffff00;
}

#counter{
	float: left;
	margin: 10px;
}

#content {	
	width: 100%;
}

#footer {
	clear: both;
	height: 50px;
	margin: 5px;
	margin-top:20px;
	background: #0000ff;
}

#footer *{
	margin: 0;
	padding: 0;
	
	color: #fff000;
}

.headlinebox{
	text-align: center;
	background-color: #FFFF00;
	
	border-style: solid;
	border-width: 2px;
	border-color: #0000FF;
	padding-bottom: 20px;
	
	border-radius:20px;
	box-shadow: 10px 10px 5px #888888;
	
	margin-bottom: 20px;
}

.newsblock{
	float:left; 
	width: 200px;
	padding: 10px;
	
	border-width: 1px;
	border-style: solid;
	border-color: #0000ff;
	border-radius: 10px;
	
	box-shadow: 10px 10px 5px #888888;
	margin-right: 10px;
}
.left-beside-newsblock{
	margin-left: 205px;
}

.right{
	text-align: right;
}

.left{
	text-align: left;
}

.justify{
	text-align: justify;
}

.center{
	text-align: center;
}

.bold{
	font-weight: bold;
}

.normal{
	font-weight: normal;
}

.simpleborder{
	border-style: solid;
	border-width: 1px;
	border-color: #0000ff;
	border-radius: 10px;
}

.list{
	padding-left: 40px;
}

.fullwidth{
	width: 100%;
}

.halfwidth{
	width: 49%;
	display: inline-block;
	zoom: 1; *display: inline; /*IE 7- fix for inline-block*/
	vertical-align: top;
}

.padding20{
	padding: 20px;
}

.paddingtop{
	padding-top: 10px;
}

.margintop{
	margin-top: 10px;
}

.invisible{
	display: none;
}

.verticallist{
	display: inline-block;
	zoom: 1; *display: inline; /*IE 7- fix for inline-block*/
	margin: 5px;
	padding: 2px; 
	vertical-align: top;
}

.width360{
	width: 360px;
}

.width150{
	width: 150px;
}

.width200{
	width: 200px;
}

.height70{
	height: 70px;
}

.verticallistImage{
	margin: 5px;
	float: left;
	vertical-align: top;
}

a > img{
    border: 0;
}

.verticallistImageHover:hover{
	-moz-transform:scale(1.25,1.25);
	-webkit-transform:scale(1.25,1.25);
	-o-transform:scale(1.25,1.25);
	transform:scale(1.25,1.25);
}

.floatclear{
	clear: both;
}

.hline{
	color: #0000ff;
	background-color: #0000ff;
}

#searchbox{
	background: #FFF000;
	border-radius: 35px;
	
	border-width: 2px;
	border-style: solid;
	border-color: #0000FF;            
	float: right;
	padding: 5px;
	overflow: hidden; /* Clear floats */
}

#search, #submit{
	height: 22px;
	padding:1px;
	border-style: solid;
	border-width: 1px;
	border-color: #0000FF;
	vertical-align:middle;
}

#submit{
	background: #FFF000;
	background: linear-gradient(to bottom, #FFFF00, #FF9900);
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFF00), to(#FF9900));

	border-top-right-radius: 35px;
	border-bottom-right-radius: 35px;
	padding-right: 5px;
	margin-top: -1px; 
	height: 26px;
}

#submit:hover{
	background: #FF9900;
	background: linear-gradient(to bottom, #FF9900, #FFFF00);
	background: -webkit-gradient(linear, left top, left bottom, from(#FF9900), to(#FFFF00));
}

#search{
	background-color: #FAFAD2;
	padding-left: 5px;
	
	border-top-left-radius: 35px;
	border-bottom-left-radius: 35px;
	width: 200px;
}

.tabcontent{
	display: none;
}

.tabcontainer{
	text-align: left;
	margin-bottom: 20px;
}

.tab {
	border: #0000FF solid 1px;
	border-bottom-width: 0px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	background: #FFF000;
	background: linear-gradient(to bottom, #FFF000, #FAFAD2);
	background: -webkit-gradient(linear, left top, left bottom, from(#FFF000), to(#FAFAD2));
	display: inline-block;
	cursor: pointer;
	height: 25px;
	line-height: 25px;
	font-size: 20px;
	font-weight:bold;
	text-decoration: none;
	padding: 5px;
}

.tab:hover{
	background: #FF9900;
	background: linear-gradient(to bottom, #FF9900, #FAFAD2);
	background: -webkit-gradient(linear, left top, left bottom, from(#FF9900), to(#FAFAD2));
}